@{
    ViewData["Title"] = "Home Page";
}


<!-- Content wrapper -->
<div class="content-wrapper">

    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">繳費管理 /</span> 財務報表</h4>
        <!-- Grid Card -->
        <h6 class="pb-1 mb-4 text-muted">Grid Card</h6>
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
            <div class="col">
                <div class="card h-100">
                    <img class="card-img-top" src="../assets/img/elements/2.jpg" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">租金報表</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to additional content.
                            This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img class="card-img-top" src="../assets/img/elements/13.jpg" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">管理費報表</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to additional content.
                            This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
         
        </div>
        <p>Click the links below to view reports:</p>
        <ul>
            <li>@Html.ActionLink("Report 1", "Report1")</li>
            <li>@Html.ActionLink("Report 2", "Report2")</li>
        </ul>
    </div>

</div>




