
@{
    ViewData["Title"] = "Index";
}

@* <form method="post">
    <div>
        <label>Select an Action:</label>
        <br />
        <input type="submit" name="IsLoginSelected" value="Login" class="btn btn-primary" />
        <input type="submit" name="IsLoginSelected" value="Register" class="btn btn-success" />
    </div>
</form> *@